
p {
font-family: 'Roboto', sans-serif;
font-size: 4em;
color: #fff;
padding: 1em;

}

jerry {
	font-family: 'Roboto', sans-serif;
	font-size: 5em;
	color: #000;
	padding: 5em;
}

#seinfeld {
	background: #d5d5d5;
	
}

button {
	background: yellow;
	border: 1px solid blue;
	padding: 3em;
	font-size: 1em;
	margin: 2em;
	font-family: 'Roboto', sans-serif;
	color: blue;
}